<p style="font-size: 80%;">Accuracy not guaranteed.
  Not all meetings appear here for privacy reasons.
  Built with
  <a href="https://gitlab.com/awsteiner/ics">https://gitlab.com/awsteiner/ics</a>.
    
</p>

</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>
